.note-container {
    overflow-x: auto;
    scroll-behavior: auto;
    height: 300px;
    width: 100%;
    border: 0.5px solid #222;
    margin: 10px 40px;
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
}