{% extends 'note/layout.html' %}
{% block title %}{{block.super}} | Home {% endblock%}
{% block body %}

<div class="row">
    <div class="col-lg-6 offset-3">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags == "error" %} class="bg-danger text-white" 
                    {% elif message.tags == "success" %} class="bg-success text-white"
                    {% endif %}>{{message}}</li><br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<div class="row">
    {% for note in notes %}
    <div class="col-md-3 note-container">
        <p>{{note.note}}</p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-6">
        <h1>Add Note</h1>
        <form action="process_note" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="note" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    <div class="col-md-6"></div>
</div>

{% endblock %}